{% extends 'includes/base.html' %}
{% block title %}Sign list{% endblock %}
{% block header %}Sign list{% endblock %}
{% block content %}
    {% include 'includes/notice.html' %}
    <div class="row">
        <a href="{% url 'create_sign' %}">
            <button class="btn btn-block btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> Create</button>
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <td><h4>ID</h4></td>
            <td><h4>Author</h4></td>
            <td><h4>Text</h4></td>
        </tr>
        </thead>
        <tbody>
        {% for sign in signs %}
            <tr>
                <td>{{ sign.text }}</td>
                <td>{{ sign.author }}</td>
                <td><a href="{% url 'detail_sign' sign.id %}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}