{% extends 'includes/base.html' %}
{% load humanize %}
{% load i18n %}
{% block title %}{% trans "Sign list" %}{% endblock %}
{% block header %}{% trans "Sign list" %}{% endblock %}
{% block content %}
    {% include 'includes/notice.html' %}
    <div class="row">
        <a href="{% url 'create_sign' %}">
            <button class="btn btn-block btn-default" type="button"><span class="glyphicon glyphicon-plus"></span> {% trans "Create" %}</button>
        </a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <td><h4>{% trans "Text" %}</h4></td>
            <td><h4>{% trans "Author" %}</h4></td>
            <td><h4>{% trans "Date" %}</h4></td>
            <td><h4>{% trans "Details" %}</h4></td>
        </tr>
        </thead>
        <tbody>
        {% for sign in signs %}
            <tr>
                <td>{{ sign.text }}</td>
                <td>{{ sign.author.username }}</td>
                <td>{{ sign.created|naturaltime|capfirst }}</td>
                <td><a href="{% url 'detail_sign' sign.id %}">{% trans "Details" %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}