asgiref==0.13.0
autobahn==0.14.0
channels==0.14.0
daphne==0.12.1
Django==1.9.6
django-braces==1.8.1
django-debug-toolbar==1.4
django-oauth-toolkit==0.10.0
django-rest-swagger==0.3.7
djangorestframework==3.3.3
oauthlib==1.1.1
PyYAML==3.11
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
sqlparse==0.1.19
Twisted==16.2.0
txaio==2.5.1
zope.interface==4.1.3
