{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soul Sign - {% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {% block extrastyle %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="page-header">
        {% if request.user.is_authenticated %}
        <div class="pull-right"><a href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-log-out"> Logout</span></a></div>
        {% endif %}
        <h1>Soul Sign
            <small>{% block header %}{% endblock %}</small>
        </h1>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>